<a href="https://colab.research.google.com/github/infojewellery1-debug/landingpage/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
print ('shahil')

shahil

In [12]:
print 'python'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (ipython-input-3152770151.py, line 1)

In [3]:
print ('hello python')

hello python

In [10]:
a= 45 ,
b= 22,


if a>b:
  print("Number is Gretar"),
elif a<b:
  print ("number is smaller"),
else:
  print ('both are equal')

Number is Gretar

In [20]:
Jewellery = ['diamond', 'gold', 'silver']
metals= ['dust', 'burn', 'diamond powder', 'diamond']
for n in Jewellery :
  if n in metals :
    print(n)

diamond

In [25]:
Jewellery = ['diamond', 'gold', 'silver']
metals= ['dust', 'burn', 'diamond powder', 'diamond', 'gold']
product = set(Jewellery) & set(metals)
print(product)

{'diamond', 'gold'}

In [28]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [30]:
i = 1
while i <= 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

In [32]:
for i in range (1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [33]:
numbers =[10, 20, 30, 40, 50]
average= sum(numbers)/ len(numbers)
print(average)

30.0

In [34]:
import statistics

numbers = [10, 20, 30]
print(statistics.mean(numbers))

20

In [36]:
numbers = [1,4 , 4, 5, 6 , 5, 5 ,6 ,5 ]
print(len(numbers))

9